node_modules/
.env
.DS_Store
dist/
*.log
.vscode/
.idea/
floorplan_env/
__pycache__/
.python-version
data/training/integrated/*.json
data/training/elements/*.json
data/training/images/*.png
data/training/pair_*/*.json
data/training/pair_*/*.png
data/extracted/*.json
outputs/*